$grid-gutter: $vert-spacing-unit / 2;

.container {
  margin: 0 auto;
  max-width: $bp-large;
  padding-left: $grid-gutter;
  padding-right: $grid-gutter;
}

.grid-container {
  @include breakpoint($small) {
    display: flex;
    flex-flow: row wrap;
    margin: 0 (-$grid-gutter);
    & > * {
      width: 100%;
      padding: 0 $grid-gutter;
    }
  }
}

.grid-item {
  padding-bottom: $vert-spacing-unit;
  display: flex;
  @include breakpoint($small) {
    padding-left: $grid-gutter;
    padding-right: $grid-gutter;
  }
}

@for $grid-columns from 2 through 4 {
  .grid-item-#{$grid-columns} {
    max-width: $bp-large / $grid-columns;
    @include breakpoint($small) {
      width: 100% / $grid-columns;
    }
  }
}

.grid-item-square {
  @include breakpoint($small) {
    width: $bp-small / 2;
    height: $bp-small / 2;
  }
  @include breakpoint($medium) {
    width: $bp-medium / 3;
    height: $bp-medium / 3;
  }
  @include breakpoint($large) {
    width: $bp-large / 4;
    height: $bp-large / 4;
  }
}

