.container {
  margin: 0 auto;
  max-width: $large;
  padding-left: 1em;
  padding-right: 1em;
}

.grid-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  & > * {
    flex: 1 100%;
  }
}

.grid-item-3 {
  flex: 1 100%;
  margin-bottom: 2em;
  @include breakpoint($small) {
    flex: 0 31%;
  }
}
