// Override font size to allow for browser overriding the font size.
html {
  font-size: 100%;
}

/*
  Styleguide override:
  section: 3.3
  title: Links
  template: 3_3_links
*/
a {
  color: $color-link;

  &:hover {
    color: $color-link-hover;
  }
}
