{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

<div id="obar-header" class="obar" data-base-url="{{ obar_base_url }}" data-app-name="{{ obar_app_name }}" data-jwt-token="{{ obar_jwt_token }}">
  <header></header>
</div>
