@mixin hyphenate() {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
  -ms-word-break: break-word;
}

@mixin scrollbar() {
  overflow-y: scroll;
  // For Google Chrome
  &::-webkit-scrollbar {
    width:  0.5em;
    height: 0.5em;
  }

  &::-webkit-scrollbar-thumb {
    background: $blue;
  }

  &::-webkit-scrollbar-track {
    background: $lightsilver;
  }

  // For Internet Explorer
  scrollbar-face-color: $blue;
  scrollbar-track-color: $lightsilver;
}

@mixin trimtext() {
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
  overflow: hidden;
}

@mixin focus() {
  &:focus {
    outline: currentColor thin dashed;
    outline-offset: 3px;
  }
}
