{%
  set classes = [
    'button-group',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% for child in children %}
    {% set item = attribute(element, child) %}
    {% if child in selected %}
      {% set item = item|merge({'#attributes': {'class': ['button-group__button', 'button--small', 'is-active']}}) %}
    {% else %}
      {% set item = item|merge({'#attributes': {'class': ['button-group__button', 'button--small']}}) %}
    {% endif %}
    {{ item }}
  {% endfor %}
</div>



