{#
/**
 * @file
 * Default theme implementation for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 *
 * @ingroup themeable
 */
#}
{% if breadcrumb %}
  <nav role="navigation" aria-labelledby="system-breadcrumb">
    <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
    <div class="breadcrumbs{% if home_icon %} breadcrumbs--home-icon-first{% endif %}">
      {% for item in breadcrumb %}
        <span class="breadcrumbs__item">
          {% if item.url %}
            <a href="{{ item.url }}"><span>{{ item.text }}</span></a>
          {% else %}
            <a href="#">{{ item.text }}</a>
          {% endif %}
        </span>
        <span class="breadcrumbs__divider">/</span>
      {% endfor %}
      </div>
  </nav>
{% endif %}
