// Layout.
$grid-gutter: 1em;
$page-gutter: 2em;
$page-gutter-mobile: 1em;
$side-column-width: 100% / 4;
$side-column-width-medium: 100% / 3;
$main-column-width: $side-column-width * 2;
$main-column-width-medium: $side-column-width-medium * 2;
$column-gutter: 4em;

// Breakpoints.
$bp-xsmall: 30em;
$xsmall: $bp-xsmall;

// Colors.
$green: #4FB151;
$purple: #7b46a3;
$blue-a11y: #0479A4;
$color-link: #0e688b;
$color-link-hover: #005379;
$avatarbg: rgba($purple, .45);
$obar-bg: #000;
