.l-subregion-wrapper--sectioned {
  background-color: $lightsilver;
  padding-top: 0;
  padding-bottom: 1em;
}

.l-subregion-wrapper--sectioned-wtop {
  background-color: $lightsilver;
  padding-top: 1em;
  padding-bottom: 1em;
}

.l-subregion {
  max-width: $bp-large + (2 * $page-gutter);
  padding-left: $page-gutter-mobile;
  padding-right: $page-gutter-mobile;

  @include breakpoint($xsmall) {
    padding-left: $page-gutter;
    padding-right: $page-gutter;
  }

  .l-subregion {
    padding-left: 0;
    padding-right: 0;
  }
}

.path-frontpage .l-subregion-wrapper {
  padding-top: 0;

  &:nth-of-type(odd) {
    background-color: transparent;
  }
}

