.article--teaser {
  @include border;
  @include text-informative;
  position: relative;
  margin-bottom: 2em;
  padding: 1em 1em 2em 1em;

  .article__body p {
    font-size: inherit;
    margin-top: 1em;
  }

  .node__links {
    position: absolute;
    bottom: 1em;
  }
}
