li.avatar {
  position: relative;
  left: 1em;
  a {
    padding-top: 0;
    padding-bottom: 0;
  }
  img {
    background-color: rgba(#7b46a3, .45);
    height: 3.3em;
    width: 3.3em;
    @include breakpoint($small) {
      height: 3em;
      width: 3em;      
    }
  }
  &.avatar--default img {
    padding: 0.75em;
  }
}
