li.avatar {
  position: relative;
  left: 15px;
  > a {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  img {
    background-color: rgba(#7b46a3, .45);
    height: 47px;
    width: 47px;
  }
  &.avatar--default img {
    padding: 0.75em;
  }
}
