.box-story--no-label {
  &.theme-plain {
    padding: 2.8em 1.5em 1.5em 1.5em;
  }
}

.box-story--constrained {
  border-bottom: 1px solid $silver;
  padding: 1em 0 .5em;

  .tag-list {
    margin-bottom: initial;
  }
}
