.box-story--no-label {
  &.theme-plain {
    padding: 2.8em 1.5em 1.5em 1.5em;
  }
}

.box-story--constrained {
  border-bottom: 1px solid #f8f8f8;
  padding: 1em 0 .5em;
}

// IE11: Define width to avoid overflowing titles.
.box-story__title {
  span {
    width: 100%;
  }
}