.degree-programme-switcher {
  position: relative;
  .degree-programme-switcher__header {
    @include border;
    display: flex;
    cursor: pointer;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 2em 0;
    padding: 1em;
  }
  .degree-programme-switcher__icon {
    padding-right: 0.5em;
    flex: 0 0 100%;
    @include breakpoint($small) {
      flex: 0 0 auto;
    }
  }
  .degree-programme-switcher__title {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 80%;
  }
  .degree-programme-switcher__toggle {
    @include font-weight-medium;
    align-self: flex-start;
    color: $blue;
    @include breakpoint($small) {
      padding: 0 2em;
      align-self: auto;
    }
  }
  .degree-programme-switcher__container {
    @include border;
    border-top: 0;
    display: none;
    padding: 1em;
    flex: 1 0 100%;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 20;
    background: $white;
    .view-content {
      @include scrollbar;
      margin-bottom: 0;
      max-height: 20em;
      max-height: 50vh;
    }
    @include breakpoint($small) {
      padding: 2em;
    }
    &.collapsed {
      display: block;
    }
    .button--reset {
      float: right;
      margin-bottom: -2em;
    }
  }
  .degree-programme-switcher__search {
    display: flex;
    input[type="text"] {
      width: 100%;
    }
    input[type="submit"] {
      padding: 0;
      margin: 0;
      width: 35px;
      font-size: 0;
      z-index: 10;
      background: transparent;
      flex-shrink: 0;
      & + i {
        width: 35px;
        right: 35px;
        line-height: 30px;
        color: $white;
        background: $blue;
        position: relative;
        text-align: center;
        flex-shrink: 0;
        @include breakpoint($small) {
          line-height: 35px;
        }
      }
    }
  }
}
