.feedback-form {
  background: $black;
  position: absolute;
  padding: 1em;
  bottom: 1em;
  right: 1em;
  .feedback-form__toggle {
    color: $white;
    cursor: pointer;
    padding: 1em;
    text-align: center;
    .feedback-form__icon {
      display: block;
    }
    &.active {
      position: absolute;
      padding: 0;
      right: 1em;
      bottom: 1em;
      .feedback-form__title {
        display: none;
      }
    }
  }

  form {
    @include font-size(13px);
    width: 300px;
    textarea {
      @include font-size(13px);
      outline: none;
      color: $white;
      background: $black;
      padding: 0;
      border: 0;
    }
    .button {
      @include font-size(13px);
      @include font-weight-medium;
      background-color: transparent;
      padding: 0;
      &:hover {
        background-color: transparent;
      }
    }
  }
}
