.feedback-form {
  @include font-size(14px);
  width: 300px;
  z-index: 101;
  position: fixed;
  bottom: 1em;
  right: 1em;
  .feedback-form__toggle {  
    color: $white;
    background: $black;
    float: right;
    cursor: pointer;
    padding: 0.6em 0.6em 0.3em 0.6em;
    text-align: center;
    .feedback-form__icon {
      display: inline-flex;
    }
    &.active {
      position: absolute;
      padding: 0;
      right: 1em;
      bottom: 1em;
      .feedback-form__title {
        display: none;
      }
    }
    .feedback-form__title {
      display: none;
    }
    @include breakpoint($small) {
      padding: 1em;
      .feedback-form__title {
        display: block;
      }
    }
  }

  .messages {  
    float: right;
    padding: 1em;
    position: relative;
    background-image: none;
    box-shadow: none;
    text-align: center;
    border: 0;
    border-radius: 0;
    &--error {
      &:before {
        @include icon($icon-warning);
        display: block;
        font-size: 2em;
      }
    }
    &--status {
      color: $green;
      &:before {
        @include icon($icon-done);
        display: block;
        font-size: 2em;
      }
    }
  }

  form {
    @include font-size(14px);
    padding: 1em;
    background: $black;
    textarea,
    input[type="email"] {
      @include font-size(14px);
      box-shadow: none;
      max-width: 100%;
      resize: none;
      color: $white;
      background: $black;
      &::placeholder {
        color: $white;
      }
    }
    .form-item {
      margin-bottom: 1em;
    }
    .form-type-checkbox {
      margin-bottom: 1em;
      display: flex;
      align-items: center;
    }
    input[type="checkbox"] {
      -webkit-appearance: checkbox;
      margin-right: 0.5em;
    }
    .button {
      @include font-size(14px);
      @include font-weight-medium;
      background-color: transparent;
      padding: 0;
      &:hover {
        background-color: transparent;
      }
    }
  }

  /* Checkboxes from Styleguide are not accessible without these overrides */

  input[type="checkbox"] {
    display: inline-block;
    -moz-appearance: checkbox;
    -webkit-appearance: checkbox;
    opacity: 1;
  }

  input[type="checkbox"] + label {
    display: inline-block;
    left: -20px;
  }

  input[type="checkbox"]:focus + label::before {
    color: $blue;
    outline: $blue auto 5px;
  }

  .checkbox-container > label {
    margin-right: 0.25em;
  }

  label {
    @include font-size(14px);
    color: white;
  }
}
