.feedback-form {
  background: $black;
  color: $white;
  position: absolute;
  bottom: 1em;
  right: 1em;
  .feedback-form__toggle {
    cursor: pointer;
    height: 90px;
    width: 90px;
    text-align: center;
    &.active {
      position: absolute;
      right: 0;
      bottom: 0;
      .feedback-form__title {
        font-size: 0;
      }
    }
  }

  form {
    @include font-size(13px);
    padding: 1em;
    width: 300px;
    textarea {
      background: $black;
      padding: 0;
      border: 0;
    }
    .button {
      @include font-weight-medium;
      background-color: transparent;
      padding: 0;
      &:hover {
        background-color: transparent;
      }
    }
  }
}
