input[type="text"],
input[type="password"] {
  @include font-size(14px);
  border: 2px solid $blue;
  padding: 0.5em;
  width: 100%;
  border-radius: 0;
  max-width: 45em;
}

.button--reset {
  @include font-weight-book;
  &:after {
    @include font-size(10px);
    margin: 1px 0 0 10px;
  }
}

// we can't use :after or :before with input so the icon is the adjacent sibling
input[type="submit"].button--reset {
  background: transparent;
  border: none;
  color: $blue;
  margin-right: 0;
  padding-right: 2em;
  & + i {
    @include font-size(10px);
    color: $blue;
    position: relative;
    right: 2em;
    z-index: -1;
  }
}

