.button--reset {
  @include font-weight-book;
  &:after {
    @include font-size(10px);
    margin: 1px 0 0 10px;
  }
}

input[type="submit"] {
  border-radius: 0;
}

// we can't use :after or :before with input so the icon is the adjacent sibling
input[type="submit"].button--reset {
  background: transparent;
  border: none;
  color: $blue;
  margin-right: 0;
  padding-right: 2em;
  & + i {
    @include font-size(10px);
    display: inline-flex;
    color: $blue;
    position: relative;
    right: 2.5em;
    z-index: -1;
  }
}

.node-preview-backlink {
  background-color: white;
  padding: 0.6em;
  border: 1px solid #979797;
}
