#obar-header {
  background: $black;
  min-height: 195px;
  @include breakpoint($mobile-only) {
    min-height: 145px;
  }
}

#obar-footer {
  background: $black;
  min-height: 195px;
  @include breakpoint($mobile-only) {
    min-height: 145px;
  }
}
