.main-menu {
  overflow: visible !important;
  @include breakpoint($small) {
    > ul.menu {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
    li.is-lvl1 {
      > a, span[data-drupal-link-system-path] {
        padding-top: 1.2em;
        padding-bottom: 1.2em;
      }
    }
    li.is-expandable {
      align-items: baseline;

      nav {
        position: absolute;
        top: 55px;
        z-index: 200;
        background: white;
        border-left: 1px solid $mediumsilver;
        border-bottom: 1px solid $mediumsilver;
        border-right: 1px solid $mediumsilver;
      }
    }
    li.is-lvl1 span[data-drupal-link-system-path] {
      @include link-menu;
      padding-right: 1em;
      padding-left: 1.8em;
    }
  }

  li.is-lvl1 span[data-drupal-link-system-path] {
    padding: 18px 20px 15px 60px;

    @include breakpoint($small) {
      padding: 1.2em 1em 1.2em 1.8em;
    }
  }

  li.is-lvl2 {
    > a {
      @include breakpoint($small) {
        padding: 20px 30px !important;
      }
    }
  }

  li.main-menu__right {
    @include breakpoint($small) {
      margin-left: auto;
      position: relative;
      left: 2em;
      & ~ li.main-menu__right {
        margin-left: 0;
      }
    }
  }

  li.main-menu__logout {
    @include breakpoint($small) {
      top: 50%;
    }
    > a {
      @include breakpoint($small) {
        font-size: 0;
        &:after {
          @include icon($icon-logout);
          @include font-size(16px);
          @include font-weight-light;
          @include transition-element(opacity, 0.2s);
          padding-left: 1em;
          padding-right: 1em;
        }
      }
    }
  }
}

// Teacher domain: Hide most main menu items (all but login/logout).
body.guide-teacher-helsinki-fi {
  .main-menu {
    li {
      display: none;
      &:last-child {
        display: block;
      }
      a {
        font-size: initial;
      }
    }
  }
}
