.main-menu {
  @include breakpoint($small) {
    > ul.menu {
      max-height: 55px;
    }    
  }

  li.main-menu__right {
    @include breakpoint($small) {
      margin-left: auto;
      & ~ li.main-menu__right {
        margin-left: 0;
      }
    }
  }

  li.main-menu__logout {
    @include breakpoint($small) {
      top: 50%;
    }
    > a {
      @include breakpoint($small) {
        font-size: 0;
        &:after {
          @include icon($icon-logout);
          @include font-size(16px);
          @include font-weight-light;
          @include transition-element(opacity, 0.2s);
          padding-left: 1em;
        }
      }
    }
  }
  li.main-menu__avatar {
    a {
      padding-top: 0;
      padding-bottom: 0;
    }
    img {
      background-color: rgba(#7b46a3, .45);
      height: 3em;
      width: 3em;
    }
    &.main-menu__avatar--default img {
      padding: 0.75em;
    }
    @include breakpoint($small) {
      padding-left: 1em;
      position: relative;
      left: 1em;
      a {
        padding: 0;
      }
    }
  }
}
