.no-scroll-mobile {
  @include breakpoint($mobile-only) {
    position: fixed;
    overflow: hidden;
  }
}

.ajax-progress-fullscreen {
  background: none;
  &:after {
    @include icon($icon-spinner);
    color: $blue;
    font-size: 2em;
    animation: icon-spin 2s infinite linear;
  }
}

h1, h2, h3, h4,
.box-story__content {
  @include hyphenate;
}

.box-story--constrained {
  .box-story__content {
    a {
      @include breakpoint($mobile-only) {
        @include trimtext();
      }
    }
  }
}

.h3 {
  @extend h3;
  text-transform: none;
}
