html {
  @include font-family-main;
  font-size: $mobile-font-size;

  @include breakpoint($small) {
    font-size: $base-font-size;
  }
}

.no-scroll-mobile {
  @include breakpoint($mobile-only) {
    position: fixed;
    overflow: hidden;
  }
}

.ajax-progress-fullscreen {
  background: none;
  &:after {
    @include icon($icon-spinner);
    color: $blue;
    font-size: 2em;
    animation: icon-spin 2s infinite linear;
  }
}
