.paragraph__title {
  margin-bottom: $vert-spacing-unit / 2;
}

.paragraph__video > .video-embed-field-responsive-video,
.paragraph__paragraph-image > img {
  margin-bottom: $vert-spacing-unit / 2;
  @include breakpoint($small) {
    margin-bottom: $vert-spacing-unit;
  }
}

// IE11: Fix for table of contents (index): The item arrow and text ended up in
// separate columns in some cases when the text of one item did not fit on one
// line.
.index {
  .index__row {
    %button--action,
    .button--action {
      &.theme-transparent {
        &:after {
          line-height: normal; /* IE11 */
        }
      }
    }
  }
}
