.view-search {
  .col-main {
    margin-bottom: $vert-spacing-unit;
  }
  @include breakpoint($mobile-only) {
    .col-right {
      margin-bottom: $vert-spacing-unit / 2;
    }
  }
  .view-filters {
    position: relative;
    input.form-autocomplete {
      background: none;
      & + .icon-spin {
        display: none;
        color: $blue;
        position: absolute;
        right: 10px;
        top: 26px;
        vertical-align: middle;
        @include breakpoint($small) {
          position: relative;
          top: 0;
          right: 30px;
        }
      }
      &.ui-autocomplete-loading + .icon-spin {
        display: inline-block; 
      }
    }

    .form-item-search-api-fulltext {
      display: inline;
    }

    label {
      display: none;
    }

    .form-actions {
      margin-top: $vert-spacing-unit;
    }
  }
  .view-header {
    // this empty result can't be removed in the view or in pre_render?
    .top-searches {
      li:last-child {
        display: none;
      }
      .list-of-links__link {
        padding-left: 0;
      }
      .button--action-before.theme-transparent:after {
        display: none;
      }
    }
  }
  #my-searches {
    padding-top: 2em;
    .list-of-links__link {
      display: inline;
      padding-left: 0.5em;
      @include breakpoint($medium) {
        padding-left: 2em;
      }
    }
    .list-of-links__compact {
      li:first-child {
        padding-left: 0;
      }
      @include breakpoint($medium) {
        display: inline;
        li:first-child {
          padding-left: 2em;
        }
      }
      margin-bottom: 0;
    }
    .button--reset {
      display: inline-flex;
    }
  }
  .view-before-content {
    margin-bottom: $vert-spacing-unit / 2;
  }
  #edit-search-api-fulltext {
    @include breakpoint($small) {
      width: 60%;
    }
  }
  #edit-actions {
    @include breakpoint($small) {
      display: inline;
      white-space: nowrap;
    }
  }
  #edit-submit-search {
    @include breakpoint($small) {
      padding: 0.55em;
    }
  }
  #edit-reset {
    @include breakpoint($small) {
      margin: 0;
      padding-left: 0.5em;
    }
  }
}

.ui-autocomplete {
  @include border;
  background: $white;
  .ui-menu-item > a {
    display: block;
    cursor: pointer;
  }
}

.search-api-autocomplete-suggestion {
  padding: 0.5em;
  .autocomplete-suggestion-user-input {
    @include font-weight-medium;
    color: $lightgray;
  }
  .autocomplete-suggestion-suggestion-suffix {
    color: $silver;
  }
  .autocomplete-suggestion-results {
    @include font-size(14px);
    right: 0.5em;
    color: $silver;
  }
  @include breakpoint($small) {
    @include font-size(14px);
    .autocomplete-suggestion-results {
      @include font-size(12px);
    }
  }
}
