.view-search {
  .view-filters {
    flex: 1 100%;
    @include breakpoint($small) {
      flex: 0 62%;
    }
    .form-actions {
      margin-top: 2em;
    }
  }
  .view-header {
    flex: 1 100%;
    @include breakpoint($small) {
      flex: 0 35%;
    }
  }
}
