.tag-list {
  @include hyphenate;
  margin-bottom: $vert-spacing-unit / 2;
}

.tag-list__item {
  color: $lightgray;
  display: inline;
  padding-right: 0;
  margin-right: 1em;
  vertical-align: initial;

  a {
    color: $lightgray;
  }

  &:after {
    display: inline-block;
    position: static;
    margin-left: 1em;
  }
}
