/*
 Styleguide override:
 section: 6.11.1
 title: Textarea
 template: 6_11_1_textarea
 description: Basic component used in multiple row textareas with links, headings, lists and so on.
*/
.textarea {
  a {
    text-decoration: underline;
  }

  table {
    td, th {
      a {
        color: $color-link;
        text-decoration: underline;

        &:hover {
          color: $color-link-hover;
          text-decoration: underline;
        }
      }
    }

    td {
      &:first-child {
        @include font-weight-book;
      }
    }
  }
}
