.theme--box {
  width: 100%;
  background: $black;
  position: relative;
  overflow: hidden;
  
  .theme__title {
    position: relative;
    z-index: 1;
    color: $white;
  }

  .theme__link-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 2em;
  }

  .theme__teaser-image {
    position: absolute;
    opacity: 0.4;
    transition: opacity 0.2s ease-in-out;
    left: 0;
    top: 0;
  }

  &:hover {
    .theme__teaser-image {
      opacity: 0.25;
    }
  }
}
