.theme--full {
  .theme__body p {
    color: $lightgray;
    @include font-size(20px);
  }
}

.theme--teaser {
  background: $silver;
  display: flex;
  align-items: center;
  width: 17em;
  height: 17em;
  margin-bottom: 2em;
  padding: 1em;
  .article__title {
    @include font-size(35px);
    color: $white;
  }
}
