.tooltip {
  cursor: help;
}

.article--full {
  .tooltip {
    position: initial;
    display: inline-block;
    margin-bottom: 1em;
  }

  .tooltip-toggle {
    &:after {
      color: $white;
    }
  }

  // IE11 position fix.
  .box-story__label {
    position: static;
    left: auto;
    top: auto;
  }
}

.tooltip-toggle {
  @include font-size(18px);
  display: inline-block;
  position: relative;
  cursor: help;
  margin-top: -1em;
  padding-left: 1em;
  &:after {
    @include icon($icon-question);
    vertical-align: middle;
    display: inline-block;
    color: $blue;
  }
}

.ui-tooltip {
  @include hyphenate;
  background-color: black;
  font-size: 0.75em;
  left: -15px;
  top: 30px;
  color: $white;
  position: absolute;
  padding: 1em;
  border-radius: 10px;
}

// Front page: Display tooltip after the main heading.
.path-frontpage {
  h1 {
    display: inline-block;
    @include breakpoint($mobile-only) {
      display: initial;
    }
  }

  .tooltip {
    vertical-align: top;
  }

  .tooltip-toggle {
    vertical-align: top;
    margin-top: 0.2em;
    padding-left: initial;
  }
}
