{
  "plugins": [
    "filenames"
  ],
  "rules":{
      "filenames/match-regex": 2,
      "filenames/match-exported": 2,
      "filenames/no-index": 2,
      "camelcase": 1,
      "comma-dangle": 2,
      "quotes": 0
  }
}
